@using CompomentsLibrary.Pages
@using PagesLibrary.Data.File;
@inherits LayoutComponentBase
@inject PopupListService _popUp
@inject ModalPopUpService _modal
@inject IFileManager _iFileManager
@inject ILogger<MainLayout> _logger

<AllPopUp />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4  bg-opacity-75 bg-black text-white">
            <UserMessagesComponent />
        </div>

        <article class="content px-1">
            @Body
        </article>

    </main>
</div>

@code {
}