@page "/fetchdata"
@using Memy.Shared;
@inject HttpClient Http


<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (forecasts.Length == 0)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table form-check-label">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    private WeatherForecast[] forecasts = new WeatherForecast[0];

    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetFromJsonAsync<WeatherForecast[]>("WeatherForecast");
        if (response is not null)
        {
            forecasts = response;
        }
    }
}
