
.avatar {
}

.avatar-AnswerComment {
    width: 35px;
    height: 35px;
}

.avatar-Comment {
    width: 35px;
    height: 35px;
}

.avatar-File {
    width: 66px;
    height: 66px;
}

.avatar-Profile {
    width: 186px;
    height: 186px;
}
