@using PagesLibrary.Data.Admin
@using static Memy.Shared.Helper.MyEnums;

@inject ILogger<AdminBanButtonComponent> _logger
@inject PopupListService _popUp
@inject ModalPopUpService _modal
@inject AdminFileApi _AdminFile
@inject AdminCommentApi _AdminComment
@inject ModalAdminMessageService _adminModal


@if (Model != null)
{
    <AuthorizeView Roles="@Memy.Shared.Helper.Roles.Admin">
        <Authorized>
            <span class="px-1">
                <button class="btn btn-outline-primary text-white" @onclick="Ban">
                    <span class="oi oi-ban"></span>
                    @if (Model.Banned)
                    {
                        <span class="hideTextInSmall">Odbanuj</span>
                    }
                    else
                    {
                        <span class="hideTextInSmall">Zbanuj</span>
                    }
                </button>
            </span>
        </Authorized>
    </AuthorizeView>
}

@code {
    [Parameter]
    public TaskModel? Model { get; set; }
    [Parameter]
    public AdminDeleteBanType Type { get; set; }

    [Parameter]
    public Func<Task>? Fucn { get; set; }
}
