@page "/register"
@using PagesLibrary.Pages.User.Register

<AuthorizeView>
    <NotAuthorized>
        <div class="max-width-700 ">
            <RegisterPage></RegisterPage>
        </div>
    </NotAuthorized>
    <Authorized>
        <div>
            <p>
                @if (context.User.Identity is not null)
                    @if (!string.IsNullOrWhiteSpace(context.User.Identity.Name))
                    {
                        <span>
                            Jesteś już zalogowany @context.User.Identity.Name
                        </span>
                    }
            </p>
        </div>
    </Authorized>
</AuthorizeView>


@code {

}
