@page "/add"


<AuthorizeView>
    <NotAuthorized>
        <div>
            <p>
                Zaloguj się
            </p>
            <LoginPage></LoginPage>
        </div>
    </NotAuthorized>
    <Authorized>
        <div class="bg-black bg-opacity-25" style="max-width:800px">
            <AddPage></AddPage>
        </div>
    </Authorized>
</AuthorizeView>

@code {

}
